BOT_TOKEN=
BOT_USERNAME=
ADMIN_IDS=
DATABASE_URL=

PUBLIC_BIO_TAG=@antijavana
MAIN_CHANNEL=@antijavana

INVITE_EXPIRE_MINUTES=10
PROOF_KICK_HOUR=21
PROOF_KICK_MINUTE=50
REWARD_HOUR=22
REWARD_MINUTE=5
REWARD_DELETE_AFTER_HOURS=2
REWARD_LOCK_EXTRA_MINUTES=5
ADMIN_REWARD_REMINDER_HOURS=12,18,21
REQUIRE_CHANNEL_JOIN=true
